@import "../../variables";

.vipClubBanner {
  height: 320px;
  border-radius: 16px;
  background: url("../../../assets/banners/vip.png"), linear-gradient(180deg, rgba(35, 36, 66, 0.7) -22.16%, rgba(56, 52, 101, 0.85) 28.82%, #D77714 142.55%);
border-radius: 16px;
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 30px;

  &-h1 {
    font-weight: 900;
    font-size: 36px;
    line-height: 49px;
    color: #CFD1EA;
    margin-bottom: 12px;
    position: relative;
    z-index: 100;
  }

  &-p {
    width: 480px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    z-index: 100;
  }

  &-hero {
    position: absolute;
    width: 250px;
    bottom: 0px;
    right: 20%;
  }

  @media screen and (max-width: 787px) {
    height: fit-content;

    &-h1,
    &-p {
      text-align: center;
      margin: 0 auto;
      width: fit-content;
    }

    &-h1 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 14px;
    }
  }
}