@import "../_variables.scss";

.delimiter {
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 9px;
  line-height: 37px;
  color: #a09acb;
  &::before, &::after {
    content: "";
    position: absolute;
    left: 5%;
    top: 50%;
    width: 35%;
    height: 1px;
    background-color: #3D3A67;;
    border-radius: 2px;
  }
  &::after {
    right: 5%;
    left: auto;
  }
}
