@import "../_variables.scss";

.inputComponentPassword {
  width: 462px;
  height: 68px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;

  &-labels {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-item {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 25px;
    }
  }

  &-wrapper {
    padding: 24px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    border-radius: 12px;
    background-color: $bg-light-gray;

    &-input {
      width: 396px;
      height: 19px;
      background-color: $bg-light-gray;
      color: $text-primary;
      outline: none;
      border: none;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
    }
    &-input::placeholder {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: $text-primary;
      opacity: 1;
    }

    &-icon {
      cursor: pointer;
    }
  }
}
