@import "../variables.scss";

.selectComponent {
  width: 100%;
  box-sizing: border-box;
  height: 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &-labels {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-item {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 25px;
    }
  }

  &-wrapper {
    width: 100%;
    height: 28px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $bg-light-gray;
    color: $text-primary;
    border-radius: 12px;

    &-firstItem {
      width: 286px;

      .selectComponent-wrapper-value-text {
        width: auto;
        align-items: flex-start;
        margin-left: 24px;
        text-align: left;
      }
    }

    &-secondItem {
      border-left: 2px solid $bg-global-normal;
      width: 200px;
      height: 100%;
    }


    &-value {

      display: flex;
      align-items: center;
      justify-content: space-between;


      &-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 30px;

        &-main {
          font-style: normal;
          font-weight: 800;
          font-size: 16px;
          line-height: 16px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 3px;

          &-title {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
          }
        }

        &-additional {
          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          line-height: 11px;
        }
      }

      &-ismax {
        background-color: $bg-global-normal;
        color: $text-primary;
        width: 63px;
        height: 36px;
        border-radius: 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 18px;
      }
    }

    &-select {
      // margin: 18px 0 18px 24px;
      margin-left: 24px;
      height: 32px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 14px;

      &-image {
        align-items: center;
        justify-content: flex-start;
        width: 32px;
        height: 32px;

        & svg {
          min-width: 32px;
          min-height: 32px;
        }
      }

      &-item {
        display: block;
        cursor: pointer;
        width: 120px;
        margin-right: 41px;
        margin-left: 13px;
        color: $text-primary;
        background-color: $bg-light-gray;
        border: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 16px;
        background-image: url("../../assets/icons/arrowRight.svg");
        background-repeat: no-repeat, repeat;
        background-position: right;
      }

      &-item:focus {
        outline: none;
      }
    }
  }
}