@import "../variables.scss";

.signIn {
  width: 543px;
  height: 806px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  position: absolute;
  top: 10%;
  left: calc((100% - 543px)/2);
  //transform: translate(-50%, -45%);

  @media screen and (max-width: 646px) {
    width: 358px;
    left: calc((100% - 358px)/2);
    height: fit-content;
    top: 10%;
  }

  &-header {
    background: url("../../assets/form-header.svg") center center no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 148px;
    position: relative;

    &-close {
      position: absolute;
      right: 0;
      top: -40px;
      cursor: pointer;
      width: 36px;
      width: 26px;

      @media screen and (max-width: 646px) {
        top: 20px;
        width: 26px;
        width: 26px;
      }

      & svg {
        width: 100%;
        height: 100%;
      }
    }

    &-coin {
      width: 192px;
      height: 143px;

      position: absolute;
      top: -50px;
      margin-left: 140px;

      @media screen and (max-width: 646px) {
        margin-left: 60px;
        top: -10px;
        width: 126;
        height: 94px;
      }

      & svg {
        width: 100%;
        height: 100%;
      }
    }

    &-btn {
      position: absolute;
      bottom: -74px;
      width: 54px;
      height: 56px;
      position: relative;
      background: $bg-global-dark;
      border-radius: 12px 0px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: center;

      & svg {
        width: 24px;
        height: 17px;
      }

      & path {
        fill: $color-blue;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 100;
        width: 57px;
        height: 56px;
        background-image: url("../../assets/icons/form_figure.svg");
        background-repeat: no-repeat;
        background-size: cover;
        right: -56px;
        top: 0px;
      }
    }
    @media screen and (max-width:646px) {
        background-position: 0px 50px;
    }
  }

  &-form {
    height: fit-content;
    width: 100%;
    background: $bg-global-dark;
    color: $text-primary;
    border-radius: 0px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0 40px 0;

    &-wrapper {
      position: absolute;
      top: 130px;
      overflow-y: scroll;
      overflow-x: hidden;
      height: calc(100vh - 10vh - 160px);
      width: 100%;

      &::-webkit-scrollbar { width: 0; }

      & { -ms-overflow-style: none; }

      & { overflow: -moz-scrollbars-none; }

    }

    &-title {
      margin-top: 10px;
      margin-bottom: 30px;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;

      @media screen and (max-width: 646px) {
        margin-bottom: 12px;
        font-size: 26px;
        line-height: 26px;
      }
    }

    &-inputs {
      width: 462px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
      margin-bottom: 48px;

      @media screen and (max-width: 646px) {
        width: 90%;
        margin-bottom: 22px;
        gap: 0px;
      }
    }

    &-help {
      color: $color-pink;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 36px;
      border-bottom: 1px solid $color-pink;

      @media screen and (max-width: 646px) {
        margin-bottom: 22px;
      }
    }

    &-btns {
      width: 462px;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 36px;

      @media screen and (max-width: 646px) {
        width: 90%;
        height: 122px;
        flex-direction: column;
        gap: 12px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 26px;
      }

      &-primary {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 332px;
        background-color: $color-pink;
        border-radius: 99px;
        cursor: pointer;

        @media screen and (max-width: 646px) {
          // height: 100%;
          height: 55px;
          width: 100%;
        }
      }

      &-secondary {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        background-color: $bg-light-gray;
        border-radius: 99px;
        cursor: pointer;

        @media screen and (max-width: 646px) {
          width: 100%;
          height: 55px;
        }
      }
    }

    &-tools {
      &-title {
        font-weight: 400;
        font-size: 12px;
        line-height: 25px;
        text-align: center;
        margin-bottom: 16px;

        @media screen and (max-width: 646px) {
          font-size: 12px;
          line-height: 25px;
          margin-bottom: 8px;
        }
      }

      &-wrapper {
        width: 240px;
        height: 52px;
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;
        background-color: $bg-light-gray;
        border-radius: 50px;

        &-item {
          width: 32px;
          height: 32px;
          cursor: pointer;
        }
      }
    }
  }
}
