@import "../variables.scss";

.signIn {
  width: 543px;
  height: 630px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  position: absolute;
  top: 10%;
  left: calc((100% - 543px)/2);
  background-color: #383465;
  border-radius: 16px;

  @media screen and (max-width: 646px) {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(5, 2, 24, 0.5);
    border-radius: 0;
  }

  &-header {
    // background: url("../../assets/form-header.svg") center center no-repeat;
    background-color: rgba(5, 2, 24, 0.5);
    background-size: contain;
    background-position: center;
    width: 100%;
    position: relative;

    @media screen and (max-width: 646px) {
      height: 340px;
      position: absolute;
      top: -40px;
      background: url("../../assets/signInHeaderImage.svg") top no-repeat;
    }

    &-close {
      position: absolute;
      right: 0;
      top: -40px;
      cursor: pointer;
      width: 36px;
      width: 26px;

      @media screen and (max-width: 646px) {
        // display: none;
        top: 45px;
        width: 26px;
        width: 26px;
      }

      & svg {
        width: 100%;
        height: 100%;
      }
    }

    &-coin {
      width: 192px;
      height: 143px;

      position: absolute;
      top: -50px;
      margin-left: 140px;

      @media screen and (max-width: 646px) {
        margin-left: 60px;
        top: -10px;
        width: 126;
        height: 94px;
      }

      & svg {
        width: 100%;
        height: 100%;
      }
    }

    &-btn {
      position: absolute;
      bottom: -74px;
      width: 54px;
      height: 56px;
      position: relative;
      background: $bg-global-dark;
      border-radius: 12px 0px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: center;

      & svg {
        width: 24px;
        height: 17px;
      }

      & path {
        fill: $color-blue;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 100;
        width: 57px;
        height: 56px;
        background-image: url("../../assets/icons/form_figure.svg");
        background-repeat: no-repeat;
        background-size: cover;
        right: -56px;
        top: 0px;
      }
    }

    @media screen and (max-width:646px) {
      background-position: 0px 50px;
    }
  }

  &-form {
    height: fit-content;
    width: 100%;
    background: transparent;
    color: $text-primary;
    border-radius: 0px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // padding: 20px 0 40px 0;

    &-wrapper {
      position: absolute;
      top: 0px;
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      width: 100%;

      @media screen and (max-width: 646px) {
        position: absolute;
        top: 120px;
        height: auto;
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100vh - 10vh - 130px);
      }

      &::-webkit-scrollbar {
        width: 0;
      }

      & {
        -ms-overflow-style: none;
      }

      & {
        overflow: -moz-scrollbars-none;
      }

    }

    &-title {
      margin-top: 10px;
      margin-bottom: 30px;
      font-style: normal;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 41px;

      @media screen and (max-width: 646px) {
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 34px;
        line-height: 46px;
        text-align: left;
        width: 100%;
        margin-left: 16px;
      }
    }

    &-inputs {
      width: 462px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
      margin-bottom: 32px;

      @media screen and (max-width: 646px) {
        width: 90%;
        margin-bottom: 22px;
        gap: 0px;
      }

      & .inputComponent-wrapper {
        height: 54px;
      }
    }

    &-help {
      color: #58F28D;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 36px;
      border-bottom: 1px solid #58F28D;
      cursor: pointer;

      @media screen and (max-width: 646px) {
        margin-bottom: 22px;
      }
    }

    &-btns {
      width: 462px;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 36px;

      @media screen and (max-width: 646px) {
        width: 90%;
        height: 122px;
        flex-direction: column;
        gap: 12px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 26px;
      }

      &-primary {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 332px;
        background: linear-gradient(180deg, rgba(8, 199, 146, 0) 0%, #126E82 100%), linear-gradient(163.03deg, #67A86A 2.74%, #61F28B 97.63%);
        border-radius: 99px;
        cursor: pointer;

        @media screen and (max-width: 646px) {
          // height: 100%;
          height: 48px;
          width: 100%;
        }

        &-blur {
          position: absolute;
          width: 102%;
          height: 110%;
          filter: blur(5px);
          background: linear-gradient(163.03deg, #67A86A 2.74%, #61F28B 97.63%);
          opacity: 0.5;
          border-radius: 99px;
        }
      }

      &-secondary {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 99px;
        cursor: pointer;

        @media screen and (max-width: 646px) {
          width: 100%;
          height: 48px;
        }
      }
    }

    &-tools {
      &-title {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 25px;
        text-align: center;
        margin-bottom: 16px;

        @media screen and (max-width: 646px) {
          font-size: 12px;
          line-height: 25px;
          margin-bottom: 8px;
        }
      }

      &-wrapper {
        width: 240px;
        height: 52px;
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;
        background-color: $bg-light-gray;
        border-radius: 50px;


        &-item {
          width: 32px;
          height: 32px;
          cursor: pointer;
        }
      }
    }
  }
}