@import "../variables.scss";

.signUp {
  width: 543px;
  min-height: 700px;
  max-height: 772px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  position: absolute;
  top: 6%;
  left: calc((100% - 543px)/2);
  background-color: #383465;
  //transform: translate(-50%, -40%);
  border-radius: 16px;

  @media screen and (max-width: 646px) {
    background-color: rgba(5, 2, 24, 0.5);
    width: 358px;
    left: calc((100% - 358px)/2);
    height: fit-content;
    top: 3%;
    border-radius: 0px;
  }

  &-header {

    background-size: contain;
    background-position: center;
    width: 100%;
    position: relative;

    @media screen and (max-width: 646px) {
      background: url("../../assets/signUpHeaderImage.svg") top no-repeat;
      background-position: 0px 50px;
      height: 400px;
      position: absolute;
      top: -55px;
    }

    &-close {
      position: absolute;
      right: 0;
      top: -40px;
      cursor: pointer;
      width: 36px;
      width: 26px;

      @media screen and (max-width: 646px) {
        display: none;
        top: 20px;
        width: 26px;
        width: 26px;
      }

      & svg {
        width: 100%;
        height: 100%;
      }
    }

    &-coin {
      width: 192px;
      height: 143px;

      position: absolute;
      top: -50px;
      margin-left: 140px;

      @media screen and (max-width: 646px) {
        margin-left: 60px;
        top: -10px;
        width: 126;
        height: 94px;
      }

      & svg {
        width: 100%;
        height: 100%;
      }
    }

    &-btn {
      position: absolute;
      bottom: -74px;
      width: 54px;
      height: 56px;
      position: relative;
      background: $bg-global-dark;
      border-radius: 12px 0px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: center;

      & svg {
        width: 24px;
        height: 17px;
      }

      & path {
        fill: $color-blue;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 100;
        width: 57px;
        height: 56px;
        background-image: url("../../assets/icons/form_figure.svg");
        background-repeat: no-repeat;
        background-size: cover;
        right: -56px;
        top: 0px;
      }
    }
  }

  &-form {
    height: fit-content;
    width: 100%;
    background-color: #383465;
    color: $text-primary;
    border-radius: 0px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @media screen and (max-width: 646px) {
      background-color: transparent;
    }

    &-wrapper {
      position: absolute;
      top: 40px;
      overflow-y: scroll;
      overflow-x: hidden;
      height: calc(100vh - 10vh - 60px);
      width: 100%;
      @media screen and (max-width: 646px) {
        top: 220px;
        height: calc(100vh - 10vh - 215px);
      }

      &::-webkit-scrollbar {
        width: 0;
      }

      & {
        -ms-overflow-style: none;
      }

      & {
        overflow: -moz-scrollbars-none;
      }

    }

    &-title {
      margin-top: 10px;
      margin-bottom: 30px;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;

      @media screen and (max-width: 646px) {
        width: 100%;
        text-align-last: left;
        margin-left: 24px;
        margin-bottom: 24px;
        font-size: 26px;
        line-height: 26px;
      }
    }

    &-inputs {
      width: 462px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
      margin-bottom: 25px;
      border-bottom: 1px solid rgba(85, 101, 126, 0.2);

      @media screen and (max-width: 646px) {
        width: 90%;
        margin-bottom: 22px;
        gap: 0px;
      }
      & .inputComponent-wrapper {
        height: 54px;
      }
      &-referal {
        width: 248px;
        cursor: pointer;
        background-color: inherit;
        color: $text-secondary;
        opacity: .3;
        border: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-image: url("../../assets/icons/arrowDown.svg");
        background-repeat: no-repeat, repeat;
        background-position: right;
        margin: 32px 0 36px 0;
      }

      &-referal:focus {
        outline: none;
      }

      @media screen and (max-width: 646px) {
        width: 90%;
        margin-bottom: 22px;
      }
    }

    &-agree {
      width: 459px;
      margin-bottom: 45px;

      @media screen and (max-width: 646px) {
        width: 90%;
        margin-bottom: 55px;
      }

      &-checkbox {
        display: none;
      }

      &-label {
        width: 459px;
        display: flex;
      }

      &-pseudocheckbox {
        width: 459px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 13px;
        color: #55657E;

        @media screen and (max-width: 646px) {
          width: 60%;
        }
      }

      &-pseudocheckbox::before {
        cursor: pointer;
        content: "\00A0";
        display: inline-block;
        box-sizing: border-box;
        width: 24px;
        height: 24px;
        border: 2px solid #4cd06e;
        border-radius: 4px;
        vertical-align: baseline;
        background-color: transparent;
        margin-right: 8px;

        @media screen and (max-width: 646px) {
          height: 20px;
          width: 27px;
        }
      }

      &-checkbox:checked+.signUp-form-agree-pseudocheckbox::before {
        padding: 3px 6px;
        content: url("../../assets/icons/checkbox-green.svg");
        border: 2px solid #4cd06e;
        border-radius: 4px;
        background-color: transparent;

        @media screen and (max-width: 646px) {
          padding: 3px 3px;
          width: 22px;
        }
      }
    }

    &-btns {
      position: relative;
      width: 462px;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 36px;

      &-bonus {
        z-index: 1;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        top: -40px;
        left: 150px;
        width: 141px;
        height: 30px;
        background-color: #5C33CF;
        color: $text-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 10px;
        border-radius: 55px;

        @media screen and (max-width: 646px) {
          left: 30px;
        }
      }

      @media screen and (max-width: 646px) {
        width: 90%;
        height: 122px;
        flex-direction: column-reverse;
        gap: 12px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 26px;
      }

      &-primary {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 332px;
        background: linear-gradient(180deg, rgba(8, 199, 146, 0) 0%, #126E82 100%), linear-gradient(163.03deg, #67A86A 2.74%, #61F28B 97.63%);
        border-radius: 99px;
        cursor: pointer;

        @media screen and (max-width: 646px) {
          // height: 100%;
          height: 48px;
          width: 100%;
        }

        &-blur {
          position: absolute;
          width: 102%;
          height: 110%;
          filter: blur(5px);
          background: linear-gradient(163.03deg, #67A86A 2.74%, #61F28B 97.63%);
          opacity: 0.5;
          border-radius: 99px;
        }
      }

      &-secondary {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 99px;
        cursor: pointer;

        @media screen and (max-width: 646px) {
          width: 100%;
          height: 48px;
        }
      }
    }

    &-tools {
      &-title {
        font-weight: 400;
        font-size: 12px;
        line-height: 25px;
        text-align: center;
        margin-bottom: 16px;

        @media screen and (max-width: 646px) {
          font-size: 12px;
          line-height: 25px;
          margin-bottom: 8px;
        }
      }

      &-wrapper {
        width: 240px;
        height: 52px;
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;
        background-color: $bg-light-gray;
        border-radius: 50px;
        @media screen and (max-width: 646px) {
          margin-bottom: 20px;
        }

        &-item {
          cursor: pointer;
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

.pink-square {
  z-index: 0;
  top: -28px;
  left: 160px;
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #5C33CF;
  transform: rotate(-45deg);

  @media screen and (max-width: 646px) {
    left: 40px;
  }
}