$bg-primary: #232442;
$bg-additional: #383465;
$bg-secondary: #202439;
$bg-global-dark: #131625;
$bg-global-normal:#3D4459;
$bg-gray: rgba(61, 68, 89, 0.5);
$bg-light-gray: #262B3D;

$primary-gradient: linear-gradient(180deg,
  rgba(22, 26, 42, 0.38) 0%,
  rgba(22, 26, 42, 0.22) 100%);
$secondary-gradient: linear-gradient(180deg, #5548D9 0%, rgba(22, 26, 42, 1) 100%);
$btn-primary: #f53a82;
$btn-secondary: #198cff;

$text-primary: #fff;
$text-secondary: #E1E4F3;
$text-additional: #93acd3;
$text-gray: rgba(255, 255, 255, 0.44);

$color-light-green: #46c066;
$color-blue: #198CFF;
$color-red: #C22E1F;
$color-orange: #F19F15;
$color-pink: #E14680;